!!! 5
html
	head
		title GiantShapeShifter // Design Portfolio of Ville Tervo
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='description', content='')
		meta(name='keywords', content='')
		link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic', rel='stylesheet', type='text/css')
		script(src='js/jquery.min.js')
		script(src='js/jquery.poptrox.min.js')
		script(src='js/skel.min.js')
		script(src='js/bundle.js')

		link(rel='stylesheet', href='css/style.css')
	body
		
		section#header
			header
				h1 A Design Portfolio 
				p 
					| www.
					strong GiantShapeShifter
					| .net

		section#banner
			.banner-bg-image
				header
					h2 Hello and welcome!
				p My name is 
					strong= ' Ville Tervo '
					| and this is my design portfolio.
				p I'm a 
					strong= ' graphic designer '
					| with a primary focus on
					strong= ' UI and UX design. '
					| Most of the projects I've been working on the last few years are confidential.
				p
					i "Off the record, on the QT, and very hush-hush."
				p That is why I don't have a pile of beautiful images to show. I'll share my views and insight about web design instead.

		article#first.container.box.style1.right
			a.image.full(href='http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438')
				img(src='images/pic01.jpg', alt='')
			.inner
				header
					h2
						| Lorem ipsum
						br
						| dolor sit amet
				p
					| Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.

		article.container.box.style1.left
			a.image.full(href='http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044')
				img(src='images/pic02.jpg', alt='')
			.inner
				header
					h2
						| Mollis posuere
						br
						| lectus lacus
				p
					| Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.

		article.container.box.style2
			header
				h2 Magnis parturient
				p
					| Justo phasellus et aenean dignissim
					br
					| placerat cubilia purus lectus.
			.inner.gallery
				.row.flush
					.3u
						a.image.full(href='images/fulls/01.jpg')
							img(src='images/thumbs/01.jpg', alt='', title='Ad infinitum')
					.3u
						a.image.full(href='images/fulls/02.jpg')
							img(src='images/thumbs/02.jpg', alt='', title='Dressed in Clarity')
					.3u
						a.image.full(href='images/fulls/03.jpg')
							img(src='images/thumbs/03.jpg', alt='', title='Raven')
					.3u
						a.image.full(href='images/fulls/04.jpg')
							img(src='images/thumbs/04.jpg', alt='', title='I have a cup of Disneyland, please')
				.row.flush
					.3u
						a.image.full(href='images/fulls/05.jpg')
							img(src='images/thumbs/05.jpg', alt='', title='Cherish')
					.3u
						a.image.full(href='images/fulls/06.jpg')
							img(src='images/thumbs/06.jpg', alt='', title='Different.')
					.3u
						a.image.full(href='images/fulls/07.jpg')
							img(src='images/thumbs/07.jpg', alt='', title='History was made here')
					.3u
						a.image.full(href='images/fulls/08.jpg')
							img(src='images/thumbs/08.jpg', alt='', title='People come and go and walk away')

		article.container.box.style3
			header
				h2 Nisl sed ultricies
				p Diam dignissim lectus eu ornare volutpat orci.
			form
				.row.half
					.6u
						input.text(type='text', name='name', placeholder='Name')
					.6u
						input.text(type='text', name='email', placeholder='Email')
				.row.half
					.12u
						textarea(name='message', placeholder='Message')
				.row
					.12u
						ul.actions
							li
								a.button.form(href='#') Send Message

		section#footer
			.copyright
				ul.menu
					li © Untitled. All rights reserved.
					li
						| Design:
						a(href='http://html5up.net/') HTML5 UP
