!!! 5
html
	head
		title GiantShapeShifter // Design Portfolio of Ville Tervo
		meta(charset="utf-8")
		
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic')
		link(rel='stylesheet', type='text/css', href='fonts/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')

		link(rel="stylesheet", media="only screen and (max-width: 1024px) and (min-width: 769px)", href="css/1024.css")
		link(rel="stylesheet", media="only screen and (max-width: 768px) and (min-width: 481px)", href="css/768.css")
		link(rel="stylesheet", media="only screen and (max-width: 480px)", href="css/480.css")

		link(rel="shortcut icon", href="/favicon.ico")
		
		// Responsive and mobile friendly stuff
		meta(name="HandheldFriendly", content="True")
		meta(name="MobileOptimized", content="320")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		script(src="js/modernizr-2.5.3-min.js")
		script(src='js/bundle.js')

	body

		.main-container

			section#header
				header
					h2 Hello and welcome!

			section#pages
				article.page
					.section.group.stripes
						.stripe-col.color-1
						.stripe-col.color-2
						.stripe-col.color-3
						.stripe-col.color-4
						.stripe-col.color-5
					.page-content

						.section.group
							.col.span_4_of_12
								.headshot
							.col.span_8_of_12
								.about
									h1 Ville Tervo
									h3 Web Designer and Web Developer
									p I'm a 33-year-old Web Designer and Web Developer, currently living and working in Tampere, Finland. The purpose of this resume is to give a comprehensive impression of my skills and knowledge.
									a.button(href='#') Quick facts

						h2 Work experience
							span.icon.li_heart(aria-hidden="true")

						.section.group.time-line-row
							.col.span_3_of_12
								h3 Kulma Collective
								p 01/2012 -
							.col.span_1_of_12.time-line-wrapper
								.time-line
									.time-point.present
							.col.span_8_of_12
								h3 Freelancer Web Designer
								p Web design, Graphic design, front-end development.

						.section.group.time-line-row
							.col.span_3_of_12
								h3 Leonidas Oy
								p 10/2011 -
							.col.span_1_of_12.time-line-wrapper
								.time-line
									.time-point.present
							.col.span_8_of_1
								h3 IX, UX and UI Designer
								p Web and mobile app design, front-end development.
						
						.section.group.time-line-row
							.col.span_3_of_12
								h3 Gemilo Oy
								p 10/2010 - 07/2011
							.col.span_1_of_12.time-line-wrapper
								.time-line
									.time-point
							.col.span_8_of_1
								h3 User Experience Designer
								p Web and Facebook app design.

						.section.group.time-line-row
							.col.span_3_of_12
								h3 Futuvision Media
								p 03/2009 - 10/2010
							.col.span_1_of_12.time-line-wrapper
								.time-line.end
									.time-point
							.col.span_8_of_1
								h3 Graphic Designer
								p Web site design, print design.

						h2 Education
							span.icon.li_bulb(aria-hidden="true")
						
						.section.group.time-line-row
							.col.span_3_of_12
								h3 TAMK Art and Media
								p 2006 - 2010
							.col.span_1_of_12.time-line-wrapper
								.time-line
									.time-point
							.col.span_8_of_12
								h3 Bachelor of Arts and Media
								p Web design, typography, animation and print design.

						.section.group.time-line-row
							.col.span_3_of_12
								h3 JAMK University of Applied Sciences
								p 2001 - 2005
							.col.span_1_of_12.time-line-wrapper
								.time-line.end
									.time-point
							.col.span_8_of_12
								h3 Bachelor of Information Technology
								p Data networks, cyber security.   

						h2 Projects
							span.icon.li_data(aria-hidden="true")
						.left
						.right
						

			section#footer
				.copyright © Ville Tervo. All rights reserved.

	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
	script
		window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\\/script>')
	
	//if (lt IE 9) & (!IEMobile)
		script(src="js/selectivizr-min.js")
	
	script(src="js/responsivegridsystem.js")	
