!!! 5
html
	head
		title GiantShapeShifter // Design Portfolio of Ville Tervo
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic')
		link(rel='stylesheet', type='text/css', href='fonts/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')

		link(rel="shortcut icon", href="/favicon.ico")

	body

		.container

			header

			section.page

				#stripes.sixteen.columns
					.four.columns.color-1
					.two.columns.color-2
					.one.column.color-3
					.three.columns.color-4
					.seven.columns.color-5
				
				article#about

					.four.columns.offset-by-one
						.headshot
					.nine.columns.offset-by-one
						.intro
							h1 Ville Tervo
							h3 Web Designer and Web Developer
							p I'm a 33-year-old Web Designer and Web Developer, currently living and working in Tampere, Finland. I'm specialized in graphic and user interface design. My other skills include interaction design, front-end development and customer relations.
							p The purpose of this resume is to give a comprehensive impression of my skills and knowledge.

				article#work
					.fifteen.columns.offset-by-one
						h2 Work experience
							span.icon.li_heart

					.four.columns.offset-by-one
						h3 Kulma Collective
						p 01/2012 -
					.one.column.time-line-wrapper
						.time-line
							.time-point.present
					.eight.columns
						h3 Freelancer Web Designer
						p Web design, Graphic design, front-end development.

					.four.columns.offset-by-one
						h3 Leonidas Oy
						p 10/2011 -
					.one.column.time-line-wrapper
						.time-line
							.time-point.present
					.eight.columns
						h3 IX, UX and UI Designer
						p Web and mobile app design, front-end development.
				
					.four.columns.offset-by-one
						h3 Gemilo Oy
						p 10/2010 - 07/2011
					.one.column.time-line-wrapper
						.time-line
							.time-point
					.eight.columns
						h3 User Experience Designer
						p Web and Facebook app design.

					.four.columns.offset-by-one
						h3 Futuvision Media
						p 03/2009 - 10/2010
					.one.column.time-line-wrapper
						.time-line.end
							.time-point
					.eight.columns
						h3 Graphic Designer
						p Web site design, print design.

				article#education

					.fifteen.columns.offset-by-one
						h2 Education
							span.icon.li_bulb
				
					.four.columns.offset-by-one
						h3 TAMK Art and Media
						p 2006 - 2010
					.one.column.time-line-wrapper
						.time-line
							.time-point
					.eight.columns
						h3 Bachelor of Arts and Media
						p Web design, typography, animation and print design.

					.four.columns.offset-by-one
						h3 JAMK University of Applied Sciences
						p 2001 - 2005
					.one.column.time-line-wrapper
						.time-line.end
							.time-point
					.eight.columns
						h3 Bachelor of Information Technology
						p Data networks, cyber security.   

				article#projects

					.fifteen.columns.offset-by-one
						h2 Notable projects
							span.icon.li_data

					.four.columns.offset-by-one
						h3 Confidential
						p 10/2012 - 06/2014
					.one.column.time-line-wrapper
						.time-line
							.time-point
					.eight.columns
						h3 Self-service portal
						p Research, design and HTML implementation of a custom build, ServiceNow based self-service portal.
				
					.four.columns.offset-by-one
						h3 Confidential
						p 07/2013 - 01/2014
					.one.column.time-line-wrapper
						.time-line
							.time-point
					.eight.columns
						h3 Resource planning system
						p Design and HTML implementation of a resource planning system.

					.four.columns.offset-by-one
						h3 Confidential
						p 11/2012 - 06/2013
					.one.column.time-line-wrapper
						.time-line
							.time-point
					.eight.columns
						h3 Message communications service
						p Design and HTML implementation of a message communications dashboard.

					.four.columns.offset-by-one
						h3 TAMK
						p 12/2012 - 01/2014
					.one.column.time-line-wrapper
						.time-line.end
							.time-point
					.eight.columns
						h3 Intranet
						p Visual design, interaction design and HTML consultation.

				article#skills

					.fifteen.columns.offset-by-one
						h2 Skills and assets
							span.icon.li_star

					.four.columns.offset-by-one
						h3 UX Design
						.rating
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							p.desc Excellent skills

						h3 Interaction Design
						.rating
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
							p.desc Good skills

						h3 Graphic Design
						.rating
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.half
							p.desc Good skills

					.four.columns.offset-by-one
						h3 Photoshop
						.rating
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							p.desc Excellent skills

						h3 Illustrator
						.rating
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
							p.desc Good skills

						h3 In-Design
						.rating
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.half
							.circle
							p.desc Good skills

					.four.columns.offset-by-one
						h3 HTML (+Jade)
						.rating
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.half
							p.desc Very good skills

						h3 CSS (+Stylus)
						.rating
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.full
							.circle
								.half
							p.desc Very good skills

						h3 JS (+CoffeeScript)
						.rating
							.circle
								.full
							.circle
								.half
							.circle
							.circle
							.circle
							p.desc Basics

				article
					.ten.columns.offset-by-one
						h2 Current focus
							.icon.li_key
						.pie
							canvas#canvas(height='160', width='160')
						ul.legends
							li
								span.legend.first
								| UX Design
							li
								span.legend.second
								| Interaction Design
							li
								span.legend.third
								| Graphic Design

					.five.columns
						h2 Contact me
						.clear
						p.contact
							span.icon.li_mail
							span.text
								| Ville Tervo
								br
								| Sammonkatu 21 C 54
								br
								| 33540 Tampere
								br
								| Finland
						p.contact
							span.icon.li_paperplane
							span.text
								| ville.tervo@gmail.com
						p.contact
							span.icon.li_phone
							span.text
								| +358 40 576 1283

			section#footer
				p.copyright © Ville Tervo. All rights reserved.

	script(src='js/bundle.js')
