@import "./client/css/mixins"
@import "./client/css/init"
@import "./client/css/base"

color-1 = #5C323E
color-2 = #A82743
color-3 = #E15E32
color-4 = #C0D23E
color-5 = #E5F04C

text-light = #aaaaa4
text-dark = #1e1e1d

html, body
	margin 0
	padding 0

body
	background-image url('../images/body-bg.png')

body,input,textarea,select
	font-family 'Ubuntu', sans-serif
	font-size 20px
	line-height 1.75em
	font-weight 300
	letter-spacing 1px
	color text-dark

h1,h2,h3,h4,h5,h6
	font-family 'Ubuntu', sans-serif
	line-height 1.5em
	color text-dark

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	color inherit
	text-decoration none
	text-transform uppercase

h1
	font-size 1.5em
	line-height 1em
	text-transform uppercase

h2
	font-size 1em
	text-transform uppercase
	margin 0
	.icon
		float left
		font-size 1.25em
		margin 2px 12px 0 0
		color color-2

h3
	font-size 0.625em
	font-weight 700

strong, b
	font-weight 700

em, i
	font-style italic

a
	color text-dark
	transition border-color 0.35s ease-in-out, color 0.35s ease-in-out
	text-decoration none
	border-bottom dotted 1px text-light
	&:hover
		color color-4
		border-bottom-color color-4

p
	font-size 0.625em
	line-height 1.5em
	color text-dark

header
	width 100%
	height 40px

footer
	margin-top 1em

br.clear
	clear both

article
	width 100%
	padding 20px 0
	overflow hidden

	.column,
	.columns
		margin-bottom 20px

.clear
	width 100%
	height 1px
	clear both

.button
	position relative
	display inline-block
	line-height 36px
	cursor pointer
	text-decoration none
	outline 0
	padding 0 1.5em
	text-align center
	font-size 0.625em
	font-weight 700
	background color-3
	transition background 150ms ease-in-out
	margin-top 1em
	color #fff
	&:hover
		background color-2

.main-container
	clear both
	width 80%
	max-width 794px
	margin 0 auto
	padding 1em 0
	position relative

.page
	background #fff
	margin 0 auto
	box-shadow 0 1px 1px rgba(0, 0, 0, .2)
	overflow hidden
	padding-bottom 20px

#stripes
	margin-left 0
	margin-right 0
	width 100%

	.column,
	.columns
		height 8px
		margin-left 0
		margin-right 0
	.color-1
		background color-1
	.color-2
		background color-2
	.color-3
		background color-3
	.color-4
		background color-4
	.color-5
		background color-5
		width 440px
	
.headshot
	overflow hidden
	width 220px
	height 220px
	border-radius 110px
	background url('../images/ville.jpg') no-repeat
	background-size 150%
	margin 1.25em auto 0 auto

.intro
	padding 1.5em 0 0 0
	h1
		margin-left -1px
	h3
		color text-light
		text-transform uppercase
		font-weight 300
		margin 0.5em 0 1em 0
	p
		margin 1em 0


.time-line-wrapper
	position relative
	text-indent -9999px
	&:after
		content '*'
		opacity 0

	.time-line
		position absolute
		top 3px
		left 0
		bottom -150%
		width 100%

		&:before
			position absolute
			content ' '
			display block
			width 1px
			height 100%
			background #e5e5dc
			margin-left 50%

		&.end
			background white
			&:before
				display none

	.time-point
		width 12px
		height 12px
		background #FFFFFF
		border-radius 6px
		border 1px solid #e5e5dc
		position absolute
		top 0
		left 50%
		margin-left -6px

		&:before
			content '*'
			text-indent -9999px
			position absolute
			left 2px
			top 2px
			width 8px
			height 8px
			border-radius 4px
			background text-light

	.present:before
		background color-4

#skills
	.four.columns
		margin-bottom 0

	.rating
		margin 10px 0 20px 0

		.circle
			display inline-block
			width 20px
			height 20px
			border-radius 10px
			color white
			border 1px solid #e5e5dc
			margin-right 16px

			.full,
			.half
				width 16px
				height 16px
				margin 2px
				border-radius 8px
				background color-4
			.half
				width 9px
				border-radius 9px 0 0 9px

			p.desc
				font-style italic


.copyright
	text-align center
	margin 1em 0


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px)
	body
		background red

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px)
	body
		background green

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
	body
		background blue

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px)
	body
		background yellow

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px)
	body
		background white