@import "./client/css/mixins"
@import "./client/css/init"

color-1 = #5C323E
color-2 = #A82743
color-3 = #E15E32
color-4 = #C0D23E
color-5 = #E5F04C

text-light = #aaaaa4
text-dark = #1e1e1d

html, body
	margin 0
	padding 0

body
	background-image url('../images/body-bg.png')

body,input,textarea,select
	font-family 'Ubuntu', sans-serif
	font-size 20px
	line-height 1.75em
	font-weight 300
	letter-spacing 1px
	color text-dark

h1,h2,h3,h4,h5,h6
	font-family 'Ubuntu', sans-serif
	line-height 1.5em
	color text-dark

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	color inherit
	text-decoration none
	text-transform uppercase

h1
	font-size 1.5em
	line-height 1em
	text-transform uppercase

h2
	font-size 1em
	text-transform uppercase
	margin 1.25em 0 1em 34px
	.icon
		float left
		font-size 1.25em
		margin 2px 12px 0 -10px
		color color-2

h3
	font-size 0.625em
	font-weight 700

strong, b
	font-weight 700

em, i
	font-style italic

a
	color text-dark
	transition border-color 0.35s ease-in-out, color 0.35s ease-in-out
	text-decoration none
	border-bottom dotted 1px text-light
	&:hover
		color color-4
		border-bottom-color color-4

p
	font-size 0.625em
	line-height 1.5em
	color text-dark

header
	margin-bottom 1em
	p
		display block
		margin 0.5em 0 0 0
		padding 0 0 1.5em 0

footer
	margin-top 1em

br.clear
	clear both

section,
article
	margin-bottom 3em

section > :last-child,
article > :last-child
	margin-bottom 0

section:last-child,
article:last-child
	margin-bottom 0

.main-container
	clear both
	width 80%
	max-width 794px
	margin 0 auto
	padding 1em 0
	position relative

.button
	position relative
	display inline-block
	background color-4
	line-height 1em
	cursor pointer
	text-decoration none
	outline 0
	padding 10px 1.5em
	text-align center
	font-size 0.625em
	font-weight 700
	transition border-color 150ms ease-in-out
	margin-top 1em
	border 3px double transparent
	color #fff
	&:hover
		border-color #fff
		color #fff

.page
	height 1123px
	background #fff
	margin 0 auto
	box-shadow 0 1px 0px rgba(0, 0, 0, .2)
	border 1px solid #F2E9E1
	
.left
	width 28%
	float left

.right
	width 72%
	float left

.stripes
	.stripe-col
		height 8px
		float left
	.color-1
		background color-1
		width 25%
	.color-2
		background color-2
		width 8.333332%
	.color-3
		background color-3
		width 8.333332%
	.color-4
		background color-4
		width 8.333332%
	.color-5
		background color-5
		width 50%
		padding-right 1px
		margin-right -1px

.page-content
	width 100%
	height 100%
	padding 20px 40px
	box-sizing border-box

.headshot
	overflow hidden
	width 200px
	height 200px
	border-radius 100px
	background url('../images/ville.jpg') no-repeat
	background-size 150%
	margin 1.25em auto

.about
	padding 2.5em 0 0 16px

	h3
		color color-2

	p
		margin-top 1em

.time-line-row
	padding-left 24px

	.col
		padding 12px 0 24px 0

	p
		color text-light

	.time-line-wrapper
		text-indent -9999px
		position relative
		&:after
			content '*'

	.time-line
		position absolute
		top 12px
		left 0
		height 100%
		width 100%

		&:before
			position absolute
			content ' '
			display block
			width 1px
			height 100%
			background #e5e5dc
			margin-left 50%

		&.end:before
			background none

	.time-point
		width 16px
		height 16px
		background #FFFFFF
		border-radius 8px
		border 1px solid #e5e5dc
		position absolute
		top 0
		left 50%
		margin-left -8px

		&:before
			content '*'
			text-indent -9999px
			position absolute
			left 4px
			top 4px
			width 8px
			height 8px
			border-radius 4px
			background text-light

	.present:before
		background color-4